/* ====== BANNER HERO SECTION ====== */
#bannerHero {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -320px;

  display: flex;
  position: relative;
  padding-top: 80px;
  padding-left: 22px;
  transition: background 0.4s ease-in;
}

#bannerHero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(
    73.1% 73.1% at 52.6% 25.14%,
    #02020300 0%,
    #020203 71.1%
  );
  opacity: 0.25;
  z-index: 0;
}

#bannerHero::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 202px;
  border-top: #00aeff 3px solid;
}

#bannerHero .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 60px;
  z-index: 1;
}

#bannerHero h1 {
  width: 284px;
  font-size: 2.5rem;
  line-height: 110.2%;
  margin-bottom: 16px;
}

#bannerHero p {
  width: 284px;
  font-size: 1.125rem;
  letter-spacing: -0.005em;
  margin-bottom: 32px;
}

#bannerHero a {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 14px 32px;

  width: -moz-fit-content;
  width: fit-content;

  background-color: #00aeff;
  color: #ffffff;
  font-weight: 600;
  line-height: 1.5rem;
  border-radius: 4px;
}

#bannerHero ul {
  display: flex;
  gap: 16px;
}

#bannerHero ul li {
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

#bannerHero ul li:hover {
  transform: scale(1.08);
}

#bannerHero ul li img {
  filter: saturate(0);
  transition: filter 0.2s ease-in;
}

#bannerHero ul li.highlight img {
  filter: saturate(1);
}

#bannerHero .aside {
  display: none;
}

/* ====== MEDIA QUERIES ====== */
@media (min-width: 768px) {
  #bannerHero {
    background-position-x: -248px;
    padding-top: 96px;
    padding-left: 58px;
    justify-content: space-between;
  }

  #bannerHero::after {
    width: 320px;
  }

  #bannerHero .container {
    margin-top: 94px;
    margin-bottom: 100px;
  }

  #bannerHero h1 {
    width: 610px;
    font-size: 4rem;
  }

  #bannerHero p {
    width: max-content;
  }

  #bannerHero ul {
    gap: 20px;
  }

  #bannerHero .aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;

    margin: 32px 32px 0px -290px;
    overflow: hidden;
    z-index: 0;
  }

  #bannerHero .aside span {
    display: none;
  }

  #bannerHero .aside .video {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 86px;
    cursor: pointer;
    position: relative;
  }

  #bannerHero .aside .video::after {
    content: "";
    position: absolute;
    width: 267px;
    height: 151px;
    left: 5px;
    bottom: -15px;
    background-color: #020203;
    opacity: 0.8;
    filter: blur(10px);
    border-radius: 4px;
    z-index: -2;
  }

  #bannerHero .aside .video > img:nth-child(1) {
    position: absolute;
  }

  #bannerHero .aside .video div {
    background-image: radial-gradient(
      97.2% 94.3% at 50.89% 5.7%,
      rgba(2, 2, 3, 0) 0%,
      rgb(2 2 3 / 25%) 71.1%
    );

    display: flex;
    border-radius: 4px;
  }

  #bannerHero .aside .video div img {
    z-index: -1;
  }
}

@media (min-width: 1024px) {
  #bannerHero {
    background-position: center;
  }

  #bannerHero .container {
    margin-top: 72px;
    margin-bottom: 76px;
  }

  #bannerHero .aside {
    margin-right: 42px;
  }

  #bannerHero .aside > div {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
  }

  #bannerHero .aside span {
    display: block;
    font-weight: 600;
    font-size: 0.75rem;
    text-transform: uppercase;
  }
}

@media (min-width: 1440px) {
  #bannerHero {
    padding-left: 112px;
  }

  #bannerHero::after {
    width: 560px;
  }

  #bannerHero .container {
    flex-direction: row-reverse;
    gap: 160px;
    margin-top: 110px;
  }

  #bannerHero ul {
    flex-direction: column;
    margin-top: 34px;
  }

  #bannerHero .aside {
    margin: 78px 108px 0px 0px;
  }

  #bannerHero .aside > div {
    gap: 16px;
  }

  #bannerHero .aside span {
    font-size: 0.8125rem;
  }
}

@media (min-width: 1920px) {
  #bannerHero {
    padding-left: 300px;
    background-position-y: -32px;
  }

  #bannerHero .aside {
    margin-right: 300px;
  }
}
